@import url(//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist);

body{
  
  background-attachment: fixed;
  margin-top: 70px;
  background-color: #fdfde9;
  
}
.box{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 68vh;
  border-radius:45px;
  background-image:linear-gradient(#0cc0df,#ffde59);
  width: 30%;
  margin:auto;
  height: 7%;
  padding-bottom: 25px;
  opacity: 88%;
  margin-top: 115px;
  box-shadow: 3px 6px 11px rgba(0, 0, 0, 0.5);
  
  
}

header{
  font-family: "Playlist"; src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot"); src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); 
  font-size: 50px;
  display:flex ;
  justify-content: center;
  padding: 15px 0 15px 0;
  margin-top: 3px;
  margin-bottom: 20px;
  color: white;
  padding-top: 5px;
  
}
.input-field{
  display: flex;
  flex-direction: column;}


.input{
   height: 45px;
   width: 87%;
   border:none;
   outline: none;
   border-radius: 30px;
   color:black;
   padding: 0 0 0 45px;
   background-color:white ;
   font-size: 12px;
   

  
}
::-webkit-input-placeholder{
  color:black;
  padding-left: 20px;
  

}
.submit{
  border:none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  padding: 0 0 0 70px;
  height: 45px;
  background-image: linear-gradient( #ff3131, #ff4d94);
  cursor: pointer;
  transition: .3s;
  opacity: 75;
  color: white;
  padding-right: 60px;
  
}
.submit:hover{
  box-shadow: 3px 6px 11px rgba(0, 0, 0, 0.5);
  
}
.fas{
  transform:translate(-20px,-30px);
  font-size: 13px;
  padding-left: 315px;
  
}

img {
  width: 125px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 9px;
  
}
 @media  screen and (max-width : 800px) { 
  .box{
    width:50%;
    padding: 40px;
  }
  

  
 } 

